/* Slider */

.slick-slider {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    display: block;
    // margin: 1px 5px;

    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 1px 5px;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {

    float: left;
    height: 672px;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

// .slick-arrow.slick-hidden {
//     display: none;
// }
.slider {

    /* Точки (булиты) */
    .slick-dots {
        height: 22rem;
        @include flex(space-between, center, column);
        position: absolute;
        top: 33%;
        right: 5%;
        z-index: 10;
    }

    .slick-dots li {
        list-style: none;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: white;
    }

    /* Элемент точки */
    .slick-dots li button {
        font-size: 0;
        width: 1rem;
        height: 1.4rem;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
    }

    :focus {
        outline: transparent;
    }

}








.news__slider {

    position: relative;

    .slick-list {

        margin: 0px 5px;

    }

    .slick-track {
        display: flex;
        justify-content: space-between;

    }



    /* Стрелка влево */
    .slick-prev {
        position: absolute;
        top: 50%;
        background: url(https://vadimdk.github.io/monticello/images/sl-arrow_l.svg) 50% 50% no-repeat;
        left: -5%; 
 
        &.slick-arrow {


            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid white;
            z-index: 20;
            font-size: 0;


            &:focus {
                outline: transparent;
            }

        }


    }


    /* Стрелка вправо */
    .slick-next {
        position: absolute;
        top: 50%;
        background: url(https://vadimdk.github.io/monticello/images/sl-arrow_r.svg) 50% 50% no-repeat;
        right: -5%;

        &.slick-arrow {
            position: absolute;
            top: 50%;

            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid white;
            z-index: 20;
            font-size: 0;
            text-align: center;

            &:focus {
                outline: transparent;
            }
        }

    }



    /* Стрелка не активная */
    .slick-arrow.slick-disabled {
        opacity: 0.5;
    }

    /* Точки (булиты) */
    .slick-dots {
        height: 22rem;
        @include flex(space-between, center, row);
        position: absolute;
        top: 89%;
        right: 43%;
        width: 150px;
        z-index: 10;
    }

    .slick-dots li {
        @extend %transition;
        list-style: none;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: white;
    }

    /* Элемент точки */
    .slick-dots li button {
        font-size: 0;
        width: 10px;
        height: 14px;

        background-color: transparent;
        border-radius: 50%;
        border: 1px solid white;
        cursor: pointer;
    }

    @-moz-document url-prefix() {
        .slick-dots li button {
            height: 18px;
        }
    }

    :focus {
        outline: transparent;
    }

}